logging:
  level:
    com:
      mellora: INFO
    org:
      springframework: ERROR
    root: ERROR
spring:
  main:
    banner-mode: 'off'
  h2:
    console:
      enabled: true
  datasource:
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5
    driver-class-name: org.h2.Driver 
    url: jdbc:h2:mem:mellora 
    username: 
    password: 
 discord:
  bot:
    token: ""
    prefix: "!!"